.nft {
}
.nft-title-one {
    padding-top: 175px;
font-weight: 400;
font-size: 52px;
line-height: 123%;
letter-spacing: 0.02em;
text-align: center;
margin-bottom: 51px;

}
.nft-list-1 {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 185px;
}
.nft-item-1 {
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid rgba(229, 229, 229, 0.5);
border-radius: 2px;
background: #262627;
padding-left: 17px;
width: 392px;
height: 275px;

}

.nft-item-1::after {
  content: "";
  position: absolute;
  top: 90px;
  right: 0;
border: 1px solid #858586;
width: 124px;
  transform: rotate(45deg);
  transform-origin: top right;
}
.nft-svg {
    fill: #C4C4C4;
    margin-top: 47px;
    margin-bottom: 25px;
}
.nft-subtitle {
font-weight: 400;
font-size: 23px;
line-height: 139%;
letter-spacing: 0.04em;
margin-bottom: 11px;

}
.nft-text {
font-weight: 400;
font-size: 16px;
line-height: 162%;
width: 305px;

}

.nft-title-twy-content {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-left: 50px;
}
.nft-title-twy {
font-weight: 400;
font-size: 52px;
line-height: 123%;
letter-spacing: 0.02em;

}
.nft-title-twy-text {
font-weight: 400;
font-size: 20px;
line-height: 160%;
letter-spacing: 0.05em;
width: 548px;
margin-bottom: 77px;
}

.nft-list {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 86px;
  row-gap: 80px;

}

.nft-item {
    max-width: fit-content;
}
.nft-item img {
  transition: transform 0.4s ease-in;
}
.nft-item img:hover {
  transform: scale(1.5);
}

.nft-item:nth-child(even) {
  transform: translateY(-150px);
}
.nft-sutitle {
font-weight: 400;
font-size: 32px;
line-height: 137%;
letter-spacing: 0.03em;
margin-bottom: 7px;

}
.nft-tex {
font-weight: 400;
font-size: 16px;
line-height: 125%;
letter-spacing: 0.06em;
}
.nft-span {
font-weight: 400;
font-size: 16px;
line-height: 125%;
letter-spacing: 0.06em;
color: #d400b3;
}

.nft-item-content {
    display: flex;
    flex-direction: row;
justify-content: space-between;
margin-bottom: 12px;
}

.nft-img {

}
.nft-view {
    display: flex;
    flex-direction: column;
  align-items: end;
  padding-bottom: 128px;
}
.nft-view span {
   /* text-align: start; */
}
.nft-view-span, .nft-view-span1 {
     width: 15px;
  height: 15px;
  border-right: 4px solid #d400b3;;
  border-top: 4px solid #d400b3;;
  display: inline-block;

}


.nft-view-text, .nft-view-text1 {
font-weight: 400;
font-size: 18px;
line-height: 111%;
letter-spacing: 0.06em;
color: #d400b3;
display: flex;
flex-direction: column;
gap: 10px;
}


.nft-view1 {
    background-color: #262627;
    width: 727px;
height: 180px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.nft-view-subtext {
font-weight: 400;
font-size: 20px;
line-height: 160%;
letter-spacing: 0.05em;
color: #e5e5e5;
 max-width: 295px; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
.nft-down-subtext {
font-weight: 400;
font-size: 52px;
line-height: 123%;
letter-spacing: 0.02em;

}

.nft-down-content {
    display: flex;
    align-items: center;
    gap: 80px;
}